* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: rgb(25, 25, 25);
    margin-left: 10px;
}

.header {
    margin: 20px 0;
}

.icons {
    display: flex;
    column-gap: 15px;
    margin-bottom: 20px;
}

.icon {
    width: 130px;
    height: 130px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50%;
    padding: 25px;
}

.icon img {
    width: 70%;
}

button {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}

.result {
    margin-bottom: 20px;
    font-size: 20px;
}

.gameplay {
    margin-bottom: 30px;
}

.gameplay h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.gameplay p {
    font-size: 18px;
    display: flex;
    align-items: end;
}

.inline {
    width: 40px;
    margin: 0px 5px;
}